# Django apps
Django>=1.5.2
django-database-storage>=0.1.2
django-constance>=0.6
django-picklefield>=0.3.0
South>=0.8.2
docutils>=0.11
django-debug-toolbar>=0.9.4
djangorestframework>=2.3.8
django-filter>=0.7

# stable version django-admin-tools
# django-admin-tools>=0.5.1

# dev version django-admin-tools
-e hg+https://bitbucket.org/izi/django-admin-tools/#egg=django-admin-tools

# Libraries
Pillow>=2.1.0
reportlab>=2.7
lxml>=3.2.3
feedparser>=5.1.3
markdown>=2.3.1